<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>websocket chart room</title>
</head>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script>
    var socket;
    function openSocket() {
        if(typeof(WebSocket) == "undefined") {
            console.log("Your browser not support WebSocket");
        }else{
            var socketUrl="ws://localhost:8181/websocketChart/"+$("#userId").val();
            // socketUrl=socketUrl.replace("https","ws").replace("http","ws");
            console.log(socketUrl);
            socket = new WebSocket(socketUrl);
            // open connection
            socket.onopen = function() {
                console.log("websocket is open now.");
            };
            // config message notify event
            socket.onmessage = function(msg) {
                console.log(msg.data);
                // get message
                var $p = "<p>" + msg.data + "</p>";
                $("#message").append($p);
            };
            // close event
            socket.onclose = function() {
                console.log("websocket has been closed");
            };
            // error event
            socket.onerror = function() {
                console.log("websocket occurs exception");
            }
        }
    }
    function sendMessage() {
        if(typeof(WebSocket) == "undefined") {
            console.log("Your browser not support WebSocket");
        }else {
            var message = '{"toUserId":"'+$("#toUserId").val()+'","message":"'+$("#respMsg").val()+'"}';
            console.log(message);
            socket.send(message);
        }
    }
    function closeSocket() {
        if(typeof(WebSocket) == "undefined") {
            console.log("Your browser not support WebSocket");
        }else {
            console.log('[{"toUserId":"'+$("#toUserId").val()+'","message":"'+$("#respMsg").val()+'"}]');
            socket.close();
            console.log("WebSocket closed succeed！")
        }
    }
</script>
<body>
    <p>【userId】：<div><input id="userId" name="userId" type="text" value="25"></div>
    <p>【toUserId】：<div><input id="toUserId" name="toUserId" type="text" value="26"></div>
    <p>【message】：<div><input id="respMsg" name="respMsg" type="text" value="hello "></div>
    <p>【操作】：<div><a onclick="openSocket()">Open connection</a></div>
    <p>【操作】：<div><a onclick="sendMessage()">Send message</a></div>
    <p>【操作】：<div><a onclick="closeSocket()">Close connection</a></div>
    <div id="message">
        <label>this is message label</label>

    </div>
</body>

</html>